<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Publisher</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="form-container">
        <h2>Create a DoSomething.org account to get started!</h2>
        <form class="main-form" method="post">
          <section class="row">
            <div class="field">
              <label for="name">First Name</label>
              <input id="name" type="text" name="name" value="" placeholder="What do we call you?">
            </div>
            <div class="field">
              <label for="dob">Birthday</label>
              <input id="dob" type="text" name="dob" value="" placeholder="MM/DD/YYYY">
            </div>
          </section>
          <div class="field">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" value="" placeholder="your_email@example.com">
          </div>
          <div class="field">
            <label for="cell">Cell Number <em>(Optional)</em></label>
            <input id="cell" type="text" name="cell" value="" placeholder="(555) 555-5555">
          </div>
          <div class="field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" value="" placeholder="6+ characters... make it tricky!">
          </div>
          <div class="field">
            <label for="password_confirm">Confirmation Password</label>
            <input id="password_confirm" type="password" name="password_confirm" value="" placeholder="Just double checking!">
          </div>
          <div class="form-actions">
            <input class="button" type="submit" value="Create new account">
          </div>
        </form>
      </div>
    </div>
    <script src="scripts.js" charset="utf-8"></script>
  </body>
</html>
